---
import Header from "./Header.astro";
---

<section id="contact" class="h-full w-full flex flex-col justify-center py-16 lg:px-32">
    <Header title="Contact Me" />
    <h2 class="text-primary text-3xl text-center mt-20">Get in touch</h2>
    <p class="text-primary text-center py-6 px-8 lg:px-36">I'm always looking for new opportunities to work with great people. If you have a project you'd like to discuss, please get in touch.</p>
    <form class="flex flex-col lg:grid lg:grid-cols-2 py-6 px-8 gap-y-10 lg:gap-x-16 lg:px-36">
        <input class="w-full px-0.5 py-0.5 mt-0 border-0 bg-transparent border-b-2 border-secondary text-primary placeholder:text-secondary placeholder:opacity-70 focus:ring-0 focus:border-secondary" type="text" name="first-name" id="first-name" placeholder="First Name" required>
        <input class="w-full px-0.5 py-0.5 mt-0 border-0 bg-transparent border-b-2 border-secondary text-primary placeholder:text-secondary placeholder:opacity-70 focus:ring-0 focus:border-secondary" type="text" name="last-name" id="last-name" placeholder="Last Name" required>
        <input class="w-full px-0.5 py-0.5 mt-0 lg:col-span-2 border-0 bg-transparent border-b-2 border-secondary text-primary placeholder:text-secondary placeholder:opacity-70 focus:ring-0 focus:border-secondary" type="email" name="email" id="email" placeholder="Email address" required>
        <input class="w-full px-0.5 py-0.5 mt-0 lg:col-span-2 border-0 bg-transparent border-b-2 border-secondary text-primary placeholder:text-secondary placeholder:opacity-70 focus:ring-0 focus:border-secondary" type="text" name="subject" id="subject" placeholder="Subject" required>
        <textarea class="w-full px-0.5 py-0.5 mt-0 lg:col-span-2 border-0 bg-transparent border-b-2 border-secondary text-primary placeholder:text-secondary placeholder:opacity-70 focus:ring-0 focus:border-secondary" name="message" id="message" rows="3" placeholder="Message" required></textarea>
        <button class="w-full py-3 pt-4 items-center lg:col-span-2 text-black bg-secondary font-bold text-lg rounded-md" type="submit">Send</button>
    </form>
</section>
