---
---
<footer>
    <div class="w-full text-center py-4">
        <p class="text-primary font-sans">Designed and built with <a href="" class="text-secondary font-artifika hover:underline">Astro</a> by Axel Soubielle</p>
    </div>
</footer>