---
interface Props {
    title: string;
}

const { title } = Astro.props
---

<header class="flex flex-row justify-center items-center">
    <div class="h-0 border border-secondary mr-8 sm:mr-12 w-24 md:w-60"></div>
    <h2 class="min-w-max text-primary text-center font-sans text-3xl sm:text-4xl font-semibold">{title}</h2>
    <div class="h-0 border border-secondary ml-8 sm:ml-12 w-24 md:w-60"></div>
</header>