---

---

<nav>
  <ul class="flex flex-col text-end font-artifika layout">
    <li>
      <a href="#about" class="group flex relative overflow-hidden">
        <span
          class="text-tertiary text-opacity-50 inline-block group-hover:-translate-y-5 transition-transform"
          >About</span
        >
        <span
          class="text-primary absolute -bottom-5 group-hover:-translate-y-5 transition-transform"
          >About</span
        >
      </a>
    </li>
    <li>
      <a href="#projects" class="group flex relative overflow-hidden">
        <span
          class="text-tertiary text-opacity-50 inline-block group-hover:-translate-y-5 transition-transform"
          >Projects</span
        >
        <span
          class="text-primary absolute -bottom-5 group-hover:-translate-y-5 transition-transform"
          >Projects</span
        >
      </a>
    </li>
    <li>
      <a href="#contact" class="group flex relative overflow-hidden">
        <span
          class="text-tertiary text-opacity-50 inline-block group-hover:-translate-y-5 transition-transform"
          >Contact</span
        >
        <span
          class="text-primary absolute -bottom-5 group-hover:-translate-y-5 transition-transform"
          >Contact</span
        >
      </a>
    </li>
  </ul>
</nav>
