---
import Navbar from "../components/Navbar.astro";
import SocialLink from "../components/SocialLink.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import InstaIcon from "../icons/InstaIcon.astro";
import XIcon from "../icons/XIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      id="top-bar"
      class="w-screen px-0 sm:px-4 md:px-16 py-12 flex fixed z-10 justify-between"
    >
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          width="60"
          height="42"
          viewBox="0 0 799 599"
          class="stroke-secondary"
        >
          <g
            transform="matrix(1 0 0 1 255.6429719354 294.6074871)"
            id="u9FtaTvEwi1UQ2Ir5TSn4"
          >
            <path
              id="logo"
              style="stroke: #EB5939; stroke-width: 10; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4"
              transform=" translate(0.00001, -0.000005)"
              d="M 3.16474 -167.84411 L -177.31894 175.33483999999999 L 10.593150000000009 175.33483999999999 L 60.41000000000001 110.49967999999998 L -49.11380999999999 108.66817999999998 L -50.99109999999999 108.66817999999998 L -52.43340999999999 107.91268999999998 L -53.715459999999986 107.11140999999998 L -54.997509999999984 106.14986999999998 L -55.95904999999998 105.18832999999998 L -56.92058999999998 104.06653999999997 L -57.52218999999998 103.45471999999998 L -58.09166999999998 102.65744999999998 L -58.54724999999998 101.86017999999999 L -58.54724999999998 101.06290999999999 L -59.002829999999975 100.49342999999999 L -59.002829999999975 99.69615999999999 L -59.002829999999975 98.785 L -59.002829999999975 97.75994 L -59.002829999999975 96.50709 L -58.54724999999998 95.14035000000001 L 9.04528000000002 -33.398889999999994 L 31.86438000000002 6.904140000000005 L 75.50074000000002 73.26778000000002 L 89.44013000000002 95.14036000000002 L 105.19771000000003 117.81324000000001 L 133.07650000000004 150.84354000000002 L 177.31892000000005 93.57081000000002 L 133.07650000000004 35.99505000000002 L 114.59165000000004 6.9041400000000195 L 92.77347000000005 -31.51642999999998 L 66.71286000000005 -82.46224999999998 L 36.10680000000005 -144.41816999999998 L 23.07650000000005 -169.56968999999998 L 21.543870000000048 -171.24829999999997 L 19.62079000000005 -172.93098999999998 L 17.21694000000005 -174.73386999999997 L 15.29386000000005 -175.33482999999995 L 13.73136000000005 -175.33482999999995 L 12.048670000000051 -175.33482999999995 L 9.88521000000005 -174.73386999999997 L 7.72175000000005 -172.93098999999998 L 5.67848000000005 -171.24829999999997 z"
              stroke-linecap="round"></path>
          </g>
          <g
            transform="matrix(1 0 0 1 578.6200645787 296.3464914349)"
            id="VhcYCBqIySnChFuRQ7hm_"
          >
            <path
              id="logo"
              style="stroke: #EB5939; stroke-width: 10; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4"
              transform=" translate(-0.000005, 0.00002)"
              d="M -130.22347 102.7848 L -168.34357 166.49237 L -120.0407 176.15294 L -60.510670000000005 183.46364 L 2.194099999999999 186.55112 L 32.48131 186.02893 L 59.11316 183.41796 L 77.58489 180.2848 L 100.0392 171.92971 L 112.57184 165.40229 L 124.32119 157.56939 L 134.92321 149.2143 L 147.19475 135.63728 L 155.54984 122.84355000000001 L 162.07726 109.26653 L 166.5159 92.81744 L 168.34357999999997 78.71822 L 168.34357999999997 66.96887000000001 L 166.777 54.43623000000001 L 163.90493999999998 43.21589000000001 L 158.68300999999997 30.42216000000001 L 151.63339999999997 18.41172000000001 L 144.58378999999996 8.48460000000001 L 136.22869999999998 -1.4370699999999914 L 124.47934999999998 -11.619839999999991 L 111.68561999999999 -20.75821999999999 L 96.54201999999998 -29.37440999999999 L 83.48718999999998 -34.85743999999999 L 72.41818999999998 -37.50248999999999 L 69.02392999999998 -37.763589999999986 L -41.158840000000026 -39.59126999999999 L -46.915240000000026 -42.61466999999999 L -53.442660000000025 -48.09769999999999 L -59.970080000000024 -54.62511999999999 L -63.88653000000002 -60.36924999999999 L -66.23640000000002 -64.28569999999999 L -68.32517000000001 -70.02982999999999 L -69.36956 -74.20737999999999 L -69.63066 -78.38492999999998 L -67.80298 -84.39014999999998 L -64.93092 -89.61207999999998 L -60.23118 -94.83400999999998 L -55.270340000000004 -98.48935999999998 L -50.570600000000006 -102.14470999999998 L -44.304280000000006 -104.49457999999997 L -38.907830000000004 -106.01343999999997 L -33.424800000000005 -107.58001999999998 L -27.419580000000003 -108.88549999999998 L -21.936550000000004 -109.92988999999997 L -13.477160000000003 -111.23536999999997 L -3.0333000000000023 -112.54084999999998 L 8.454949999999998 -113.32413999999997 L 17.85443 -113.84632999999997 L 110.54373000000001 -115.93509999999996 L 138.19134000000003 -145.03679999999997 L 155.16262000000003 -166.44671999999997 L 167.69526000000002 -185.50676999999996 L 19.009260000000012 -186.55115999999995 L -22.50509999999999 -186.02896999999996 L -40.71504999999999 -184.72348999999997 L -55.85864999999999 -182.37361999999996 L -73.87431999999998 -177.15168999999997 L -91.88998999999998 -169.31878999999998 L -105.00753999999998 -160.9637 L -121.19552999999998 -146.86448 L -131.90049 -133.80964999999998 L -140.77777 -119.71042999999997 L -147.04409 -106.13340999999997 L -151.22164 -90.46760999999996 L -152.36965 -75.04245999999996 L -152.36965 -62.77091999999996 L -149.75868 -47.10511999999996 L -144.27564999999998 -32.22260999999996 L -137.74822999999998 -19.42887999999996 L -131.48190999999997 -10.28708999999996 L -119.73255999999998 1.9844500000000398 L -109.54978999999997 10.33954000000004 L -94.66727999999998 20.000110000000042 L -79.00147999999997 27.049720000000043 L -60.72471999999998 32.79385000000004 L -44.04725999999998 36.188110000000044 L -22.89842999999998 37.754690000000046 L 47.07546000000002 38.799080000000046 L 61.76640000000002 40.36566000000005 L 69.59930000000001 45.326500000000046 L 76.12672000000002 52.89830000000005 L 82.22466000000001 60.54168000000005 L 86.14111000000001 69.68006000000005 L 86.40221000000001 77.77405000000006 L 85.09673000000001 84.82366000000006 L 80.65809 91.61217000000006 L 71.78081 98.92287000000006 L 62.381330000000005 103.10042000000006 L 54.28734000000001 105.97248000000006 L 45.93225000000001 108.06125000000006 L 37.577160000000006 108.58344000000005 L 7.028860000000005 109.10563000000005 L -40.13418999999999 108.58344000000005 L -75.38222999999999 107.01686000000005 z"
              stroke-linecap="round"></path>
          </g>
        </svg>
      </a>
      <Navbar />
    </header>
    <div
      class="socials w-screen px-0 sm:px-6 md:px-16 flex justify-between absolute bottom-full sm:fixed sm:-z-10 sm:bottom-20 layout"
    >
      <ul class="md:pl-6 flex flex-col gap-8 items-center">
        <SocialLink ref="https://github.com/AxlSou/">
          <GithubIcon />
        </SocialLink>
        <SocialLink ref="https://www.instagram.com/axelsoubielle/">
          <InstaIcon />
        </SocialLink>
        <SocialLink ref="">
          <XIcon />
        </SocialLink>
        <SocialLink ref="https://www.linkedin.com/in/axelsoubielle/">
          <LinkedInIcon />
        </SocialLink>
      </ul>
      <div class="md:pt-4 sm:rotate-90 text-primary font-artifika">
        <span>axlsoubielle@gmail.com</span>
      </div>
    </div>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Artifika&family=Noto+Sans+Javanese:wght@400;500;600;700&display=swap");
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    font-family: "Noto Sans Javanese", sans-serif;
    background-image: url("/noise.svg");
    scroll-behavior: smooth;
  }

  section {
    min-height: 100svh;
  }
</style>

<script>
  import anime from "animejs";
  import ScrollReveal from "scrollreveal";

  anime
    .timeline({
      targets: "#logo",
      strokeDashoffset: [anime.setDashoffset, 0],
      easing: "easeInOutSine",
      duration: 1500,
      delay: 1000,
      direction: "alternate",
      loop: false,
    })
    .add({ targets: "#logo", fill: "#EB5939", delay: 1000, duration: 4000 });

  anime({
    targets: ".layout",
    opacity: [0, 100],
    easing: "easeInOutExpo",
    duration: 2000,
  });

  if (window.innerWidth < 640) {
    let lastScroll = 0;
    let scrollDirection = "down";

    document.addEventListener("scroll", () => {
      if (window.scrollY > lastScroll) {
        anime({
          targets: "#top-bar",
          translateY: [0, -120],
          easing: "easeInOutExpo",
          duration: 0,
          complete: () => {
            scrollDirection = "down";
          },
        });
        lastScroll = window.scrollY;
      } else {
        if (scrollDirection !== "up") {
          anime({
            targets: "#top-bar",
            translateY: [-120, 0],
            easing: "linear",
            duration: 500,
            delay: 200,
            complete: () => {
              scrollDirection = "up";
            },
          });
        }
        lastScroll = window.scrollY;
      }
    });
  }

  const sr = ScrollReveal({
    duration: 1350,
    distance: "150px",
    easing: "ease-out",
  });

  sr.reveal(".project", { origin: "bottom", reset: false, viewFactor: 0.25 });
  sr.reveal("#about-content", {
    origin: "bottom",
    reset: false,
    viewFactor: 0.25,
  });
</script>
