---
import SocialLink from '../components/SocialLink.astro';
import GithubIcon from '../icons/GithubIcon.astro'
import InstaIcon from '../icons/InstaIcon.astro'
import XIcon from '../icons/XIcon.astro'
import LinkedInIcon from '../icons/LinkedInIcon.astro'

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="container py-12 flex fixed justify-between">
      <a href="#">
        <img src="./../../public/logo.svg" alt="Logo" height="42" width="60" />
      </a>
      <nav>
        <ul class="flex flex-col text-end text-primary font-artifika">
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="socials fixed left-20 bottom-20">
      <ul class="flex flex-col gap-8 items-center">
        <SocialLink ref="https://github.com/AxlSou/">
          <GithubIcon />
        </SocialLink>
        <SocialLink ref='https://www.instagram.com/axelsoubielle/'>
          <InstaIcon />
        </SocialLink>
        <SocialLink ref=''>
          <XIcon />
        </SocialLink>
        <SocialLink ref='https://www.linkedin.com/in/axelsoubielle/'>
          <LinkedInIcon />
        </SocialLink>
      </ul>
    </div>
    <slot />
    <div class="rotate-90 text-primary font-artifika fixed -right-6 bottom-36">
      <span>axlsoubielle@gmail.com</span>
    </div>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Artifika&family=Noto+Sans+Javanese:wght@400;500;600;700&display=swap");
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    font-family: "Noto Sans Javanese", sans-serif;
    background-image: url("./../../public/noise.svg");
    scroll-behavior: smooth;
  }
</style>
